/*color palette for site:
primary color: #474747
secondary color: #6a626e
accent color: #edb415
text color: #ffffff
navbar color: #525252
navbar button hover color: #edb415
*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #2e2e2e;
}


#topbar{
    background: #3d3d3d;
    width: 99.2vw;
    overflow: hidden;
    transition: margin-left .5s , width .5s ;
}

#open-sidebar{
    display: block;
    padding: 16px 23px;
    text-decoration: none;
    color: #d9d9d9;
    float: left;
    transition: all .3s ease-in-out;
}
.sidebarbtn,
#login{
    font-weight: bolder;
}
#search-form{
    display: block;
    float: right;
    padding: 12px 15px;
}
#search_phrase{
    width: 15rem;
    letter-spacing: 1px;
    padding: 10px 5px 10px 5px;
}
.anyInputFocus:focus{
    outline: none;
}
#login{
    display: block;
    float: right;
    padding: 22px 23px;
    text-decoration: none;
    font-size: 20px;
    color: #d9d9d9;
    transition: all .3s ease-in-out;
}
#open-sidebar:hover{
    color: #edb415;
}
#login:hover{
    color: black;
    background: #edb415;
}
#topbar ul,
body{
    margin: 0;
    padding: 0;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4b4b4b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav .sidebarbtn,
.sidenav .closebtn{
  padding: 13px 23px 13px 13px;
  text-decoration: none;
  font-size: 25px;
    text-align: left;
  color: #d9d9d9;
  display: block;
  transition: all 0.3s;
}

.sidenav .sidebarbtn:hover {
    color: black;
    background: #edb415;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#container {
  transition: margin-left .5s, padding-left .7s;
    margin: 0;
    background: #2e2e2e;
    padding-bottom: 1%;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .login-form{background-size: auto}
}
.header{
    padding: 7%;
    display: flex;
    font-size: 2.5rem;
    background: black;
    color: whitesmoke;
    place-content: center;
    transition: all 1s ease-in;
}
.header:hover{
    color: black;
    background: #edb415;
}

.link_buttons{
    background: #757575;
    color: #d9d9d9;
    text-decoration: none;
    letter-spacing: 1px;
    display: flex;
    padding: 9px;
    margin:9px 35% 9px 35%;
    justify-content: center;
    transition: all .3s ease-in;
}
.link_buttons:hover{
    background: #626262;
}
.link_buttons:active{
    background: #444444;
}
.links-section{
    background: #4b4b4b;
    padding: 2rem 1rem 2rem 2rem;
}

.sort-form{
    background: #4b4b4b;
    padding: 1rem;
    margin: 0;
}
.sort-form select{
    padding: 5px;
    width: 12rem;
}
.question-box2,
.question-box{
    display: flex;
    place-content: center;
    margin: 5% 20% 0 20% ;
    overflow: hidden;
    text-align: center;
    flex-direction: column;
    padding: 3%;
    background-image:linear-gradient(#757575 20%,whitesmoke 15%) ;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #1a1a1a;
}
.question-box2{
    background: whitesmoke;
}
.add input{
    padding: 5px;
    width: 15.9rem;
    margin-bottom: 3%;
}
.add textarea{
    padding: 5px;
}
.add{
    margin-bottom: 3.5%;
}
.add label{
    font-size: 13px;
    margin-left: 5rem;
}
.answer{
    margin-bottom: 6.5%;
}
.user table,
.user table thead tr,
.user table thead tr td,
.user table tbody tr,
.user table tbody tr td{
    border-collapse: collapse;
}
.user table tbody tr td,
.user table thead tr td{
    padding: 1.5%;
}
.user table thead tr:nth-child(odd){
    background: #c4c4c4;
}
.user table tbody tr{
    border-bottom: #757575 1px solid;
}
.comments p{
    padding-bottom: 5px;
    border-bottom: #757575 1px solid;
}
.answer-comment{
    margin-bottom: 10%;
}
#tag-name{
    font-weight: bold;
    font-size: 20px;
    margin-right: 8px;

}
.tag-page{
    margin-bottom: 6.5%;
}
.tag-page h1{
    margin-bottom: 30px;
}
#question_user{
    font-size: 1em;

    text-align: left;
}
#question_user a{
    font-size: 1.2em;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    transition: all .3s ease-in;
}
#question_title{
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    letter-spacing: 1px;
    transition: all .3s ease-in;
}
#question_user a:hover,
#question_title:hover{
    color: #edb415;
}
#question_message{
    display: flex;
    place-content: center;
    font-size: 17px;
}
.submit-buttons a,
.submit-buttons{
    padding: 6px;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 5px;
    border: none;
    color: black;
    background: #d9d9d9;
    transition: all .3s ease-in;
}
.submit-buttons a:hover,
.submit-buttons:hover{
    padding: 6px;
    background: #9b9b9b;
}

#footer{
    background: #1f1f1f;
    padding: 3%;
    transition: margin-left .5s ;
}
#footer p{
    font-size: 15px;
    display: inline-flex;
    margin-right: 15px;
    color: #4b4b4b;
}
.show_hide,d
.tags a{
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
    letter-spacing: 1px;
    background: #9b9b9b;
    padding: 5px;
    border-radius: 5px;
}
tags a:hover{
    background: #757575;
}
.login-form{
    background-image: linear-gradient(90deg, #edb415 40%, #2e2e2e 0%, #2e2e2e 42.5%, whitesmoke 20%) ;
    display: flex;
    place-content: center;
    padding: 10%;
    margin: 5% 30% 6% 30% ;
    flex-direction: row;
    border-radius: 15px;
}

.login-form input{
    padding: 5px;
    width: 15rem;
    margin: 15px;
}
.login-form h1{
    padding: 13px;
    margin-top: 25px;
    margin-right: 45%;
}
.login-form p{
    flex-wrap: wrap;
    place-content: flex-end;
}
.login-form a{
    text-decoration: none;
    color: #d7790e;
}

.register{
    margin-bottom: 3%;
    padding-bottom: 6%;
}

.tags{
    border-top: #4b4b4b 1px solid;
    padding: 2%;
    border-bottom: #4b4b4b 1px solid;
}

.comment_line{
    border-bottom: #4b4b4b 1px solid;
}

.add-tag{
    padding: 10% 5% 10% 5%;
    margin-bottom: 1.7%;
    margin-right: 25%;
    margin-left: 25%;
}
.add-tag input{
    padding: 5px;
}
.down{
    margin-top: 200%;
}