#navbar_buttons,
.navbar,
.navbar a,
.navbar p,
#sort-form,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    border: none;
    background: #0f0f0f;
}

/* Navigation bar */
#navbar_buttons,
.navbar {
    list-style-type: none;
}

.navbar {
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: #0f0f0f;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 25px;
    text-decoration: none;
    transition-duration: 0.3s;
}
.navbar p {
    display: inline-flex;
    color: #f19952;
    text-align: center;
    padding: 18px 25px;
    font-weight: bolder;
}

.navbar a:hover {
    padding: 18px 25px;
    background-color: #ff8214;
    color: white;
}

/* Buttons for whole site */

.buttons {
    background-color: #c4c4c4;
    border: none;
    padding: 4px;
    border-radius: 3px;
    text-decoration: none;
    margin: 4px;
    transition-duration: 0.3s;
}
.buttons:hover {
    background-color: #ff8214;
    border: none;
    color: white;
}

.buttons a {
    color: black;
    text-decoration: none;
}
.buttons a:hover {
    color: white;
}

#button-submit-question {
    padding: 12px;
    background-color: #c4c4c4;
    margin: 4px;
    border: none;
    border-radius: 3px;
    transition-duration: 0.3s;
    width: 10%;
}
#button-submit-question:hover {
    background-color: #ff8214;
    border: none;
    color: white;
}

/* Home page dropdowns sort */

#sort-form {
    background-color: #242424;
    color: white;
    padding: 15px 4%;
}

.dropdown-sort {
    border: 1px black solid;
    border-radius: 3px;
    padding: 3px;
    transition-duration: 0.3s;
}

.dropdown-sort:hover {
    background-color: #ff8214;
    color: white;
}

.dropdown-sort:active {
    background-color: white;
    color: black;
}

#list-page-header {
    background-image: linear-gradient(to top left, #ff8214, #ab4f03, #660801);
    margin: 0;
    padding: 6%;
    display: grid;
    place-items: center;
    color: white;
}

#list-page-header h2 {
    font-size: 60px;
    color: white;
}

#question_page_header {
    background-image: linear-gradient(to top right, #ff8214, #ab4f03, #660801);
    display: grid;
    padding: 30px 4%;
    margin: 0;
}
#question_page_header h1 {
    color: white;
    font-size: 35px;
}

.table-list-questions {
    background: #0f0f0f;
    color: white;
    padding: 20px 4%;
    border: none;
    display: flex;
    flex-wrap: wrap;
}

.table-list-questions th {
    font-size: 17px;
    padding: 7px;
    margin: 0;
    border-spacing: 0;
}

.table-list-questions td {
    border-top: 2px #1f1f1f solid;

    font-size: 15px;
    padding: 7px;
    margin: 0;
}

.table-list-questions a {
    color: #ff8214;
    text-decoration: none;
    transition-duration: 0.5s;
}
.table-list-questions a:hover {
    color: #f19952;
}

/* Add Question */

#add-question-page-header {
    background-image: linear-gradient(to top right, #ff8214, #ab4f03, #660801);
    display: grid;
    padding: 30px;
    margin: 0;
}

#add-question-page-header h1 {
    font-size: 45px;
    color: white;
}

.form-add-question {
    background-color: #0f0f0f;
    color: white;
    padding: 20px 4%;
}

.form-add-question #input-add-question {
    background: #4b4b4b;
    padding: 5px;
    border-radius: 4px;
    border: none;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2px;
    color: white;
    transition-duration: 0.3s;
}
.form-add-question #input-add-question:focus {
    background: #fff;
    border: 1px solid transparent;
    color: black;
    padding: 8px;
}
.form-add-question #input-add-question::selection {
    background-color: #ff8214;
    color: black;
}

.form-add-question #input-add-question:hover {
    border: 1px #ff8214 solid;
    color: black;
    padding: 8px;
}

.form-add-question textarea {
    background: #4b4b4b;
    padding: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2px;
    border-radius: 4px;
    border: none;
    color: white;
    transition-duration: 0.3s;
}
.form-add-question textarea::selection {
    background-color: #ff8214;
    color: black;
}
.form-add-question textarea:focus {
    background: #fff;
    color: black;
    padding: 8px;
    border: 1px transparent solid;
}

.form-add-question textarea:hover {
    border: 1px #ff8214 solid;
    padding: 8px;
}

.mandatory-labels {
    color: #ff9851e5;
}

.footer {
    color: #ff9851e5;
    padding: 20px 4%;
}
.question_message {
    color: white;
    padding: 20px 4%;
}
.question_message p {
    padding: 15px 10px;
}

.question_answers {
    color: white;
    display: flex;
    flex-direction: column;

    padding: 20px 4%;
    border-top: 4px #1f1f1f solid;
}

.question_answers p {
    padding: 1%;
    border-top: 2px #1f1f1f solid;
    border-bottom: 2px #1f1f1f solid;
    width: 50%;
    display: inline-flex;
}

.question_buttons {
    color: white;
    padding: 20px 4%;
}
#answer_header {
    background-image: linear-gradient(to top right, #ff8214, #ab4f03, #660801);
    display: grid;
    padding: 30px;
    margin: 0;
}
#answer_header h1 {
    color: white;
    font-size: 35px;
}

.form-add-answer {
    background-color: #0f0f0f;
    color: white;
    padding: 4% 4%;
}
.form-add-answer textarea {
    resize: none;
    background-color: #4b4b4b;
    border-radius: 4px;
    color: white;
    transition-duration: 0.3s;
}
.form-add-answer textarea::selection {
    background-color: #ff8214;
    color: black;
}
.form-add-answer textarea:focus {
    background: #fff;
    color: black;
}

#edit-question-header {
    background-image: linear-gradient(to top right, #ff8214, #ab4f03, #660801);
    display: grid;
    padding: 30px 4%;
    margin: 0;
}
#edit-question-header h1 {
    color: white;
    font-size: 35px;
}

.form-edit-question {
    background-color: #0f0f0f;
    color: white;
    padding: 20px 4%;
}
.form-edit-question input {
    background-color: #4b4b4b;
    color: white;
    padding: 5px;
    border-radius: 4px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2px;
    width: 216px;
    transition-duration: 0.3s;
    border: none;
}
.form-edit-question input::selection {
    background-color: #ff8214;
    color: black;
}
.form-edit-question input:focus {
    background: #fff;
    border: 1px solid transparent;
    color: black;
    padding: 8px;
}

.form-edit-question input:hover {
    border: 1px #ff8214 solid;
    padding: 8px;
}
.form-edit-question textarea {
    resize: none;
    background-color: #4b4b4b;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2px;
    border-radius: 4px;
    padding: 5px;
    color: white;
    border: none;
    transition-duration: 0.3s;
}
.form-edit-question textarea::selection {
    background-color: #ff8214;
    color: black;
}
.form-edit-question textarea:focus {
    background: #fff;
    padding: 8px;
    color: black;
    border: 1px solid transparent;
}
.form-edit-question textarea:hover {
    padding: 8px;
    border: 1px solid #ff8214;
}
.form-edit-question textarea::-webkit-scrollbar {
    background: transparent;
    width: 13px;
}
.form-edit-question textarea::-webkit-scrollbar-thumb {
    background: transparent;
    transition-duration: 0.3s;
}
.form-edit-question textarea:hover::-webkit-scrollbar-thumb {
    background: #3d3d3d;
}
.form-edit-question textarea:hover::-webkit-scrollbar-thumb:hover {
    background: #282828;
}
.form-edit-question textarea:focus::-webkit-scrollbar-thumb {
    background: #a6a6a6;
}
.form-edit-question textarea:focus::-webkit-scrollbar-thumb:hover {
    background: #868686;
}
.form-edit-question textarea:hover::-webkit-scrollbar-button {
    background: #3d3d3d;
}
.form-edit-question textarea:hover::-webkit-scrollbar-button:hover {
    background: #282828;
}
.form-edit-question textarea:focus::-webkit-scrollbar-button {
    background: #a6a6a6;
}
.form-edit-question textarea:focus::-webkit-scrollbar-button:hover {
    background: #868686;
}
.form-edit-question label {
    font-size: 20px;
}
body::-webkit-scrollbar {
    background: transparent;
    width: 13px;
    transition-duration: 0.3s;
}
body::-webkit-scrollbar-thumb {
    background: #282828;
}
body::-webkit-scrollbar-button {
    background: #282828;
}
body::-webkit-scrollbar-thumb:hover {
    background: #565656;
}
body::-webkit-scrollbar-button:hover {
    background: #565656;
}
.form-add-question textarea::-webkit-scrollbar {
    background: transparent;
    width: 13px;
}
.form-add-question textarea::-webkit-scrollbar-thumb {
    background: transparent;
    transition-duration: 0.3s;
}
.form-add-question textarea:hover::-webkit-scrollbar-thumb {
    background: #3d3d3d;
}
.form-add-question textarea:hover::-webkit-scrollbar-thumb:hover {
    background: #282828;
}
.form-add-question textarea:focus::-webkit-scrollbar-thumb {
    background: #a6a6a6;
}
.form-add-question textarea:focus::-webkit-scrollbar-thumb:hover {
    background: #868686;
}
.form-add-question textarea:hover::-webkit-scrollbar-button {
    background: #3d3d3d;
}
.form-add-question textarea:hover::-webkit-scrollbar-button:hover {
    background: #282828;
}
.form-add-question textarea:focus::-webkit-scrollbar-button {
    background: #a6a6a6;
}
.form-add-question textarea:focus::-webkit-scrollbar-button:hover {
    background: #868686;
}
.form-add-answer textarea::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}
.form-add-answer textarea::-webkit-scrollbar-thumb {
    background: transparent;
    transition-duration: 0.3s;
}
.form-add-answer textarea:hover::-webkit-scrollbar-thumb {
    background: #3d3d3d;
}
.form-add-answer textarea:hover::-webkit-scrollbar-thumb:hover {
    background: #282828;
}
.form-add-answer textarea:focus::-webkit-scrollbar-thumb {
    background: #a6a6a6;
}
.form-add-answer textarea:focus::-webkit-scrollbar-thumb:hover {
    background: #868686;
}
.form-add-answer textarea:hover::-webkit-scrollbar-button {
    background: #3d3d3d;
}
.form-add-answer textarea:hover::-webkit-scrollbar-button:hover {
    background: #282828;
}
.form-add-answer textarea:focus::-webkit-scrollbar-button {
    background: #a6a6a6;
}
.form-add-answer textarea:focus::-webkit-scrollbar-button:hover {
    background: #868686;
}

