{% extends 'base.html' %}{% block title %}Add tag{% endblock %}
{% block content %}
    <h1>Add tags to question</h1>

    <br>
    <div>
    <form action="{{ url_for('add_tag_to_question', question_id=question_id) }}" method="post">
        <label for="">tags:</label>
        <br>
        <select name="tag">
            <option>Choose a tag</option>
            {% for tag in tags %}
            <option value="{{ tag.name }}">{{ tag.name }}</option>
            {% endfor %}
        </select>
        <input type="text" name="tag" autocomplete="off">
        <br>
        <br>
        <button type="submit">Submit</button>

    </form>
    </div>

{% endblock %}
