{#{% extends "base.html" %} {% block title %}Add Question{% endblock %} {% block#}
{#content %}#}
{#<div id="add-question-page-header">#}
{#    <h1>Add a question</h1>#}
{#</div>#}
{#<div class="form-add-question">#}
{#    <form#}
{#        action="{{ url_for('add_question_page') }}"#}
{#        method="post"#}
{#        enctype="multipart/form-data"#}
{#    >#}
{#        <label class="mandatory-labels" for="input-add-question">#}
{#            Question's title*:#}
{#        </label>#}
{#        <input id="input-add-question" type="text" name="title" required />#}
{#        <br />#}
{#        <label id="label-add-question" for="message"> Message: </label>#}
{#        <textarea#}
{#            id="message"#}
{#            name="message"#}
{#            cols="25"#}
{#            rows="10"#}
{#            required#}
{#            style="resize: none"#}
{#        ></textarea>#}
{#        <br />#}
{#        <br />#}
{#        <label for="image"> Select Image File: </label>#}
{#        <input type="file" id="image" name="image" />#}
{#        <br />#}
{#        <br />#}
{#        <button id="button-submit-question" type="submit" value="Upload">#}
{#            Submit Question#}
{#        </button>#}
{#    </form>#}
{#</div>#}
{#<div class="footer">#}
{#    <p>Sections with (*) are mandatory</p>#}
{#</div>#}
{#{% endblock %}#}
