{% extends 'base.html' %}

{% block title %}Add Question{% endblock %}

{% block content %}
    <div class="question-box2 add">
        <h1>Add Question</h1>
        <form
            action="{{ url_for('add_question') }}"
            method="post"
            enctype="multipart/form-data"
        >
                <input type="text" name="title" required placeholder="Title" />
            <br>
                <textarea
                    name="message"
                    id=""
                    cols="30"
                    rows="10"
                    style="resize: none"
                    required
                    placeholder="Message"
                ></textarea>
            <br />
                <label for="">
                    Select Image - <input type="file" id="image" name="image" />
                </label>

            <br />

            <button class="submit-buttons" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
