{% extends "base.html" %}

{% block title %}Add Question{% endblock %}

{% block content %}
    <h1>Add a question</h1>
    <br>
    <form action="{{ url_for('add_question_page') }}" method='post' enctype="multipart/form-data">
        <label for="">
            Question's title:
            <br>
            <input type="text" name="title" required>
        </label>
        <br>
        <label for="">
            Message:
            <br>
            <textarea name="message" cols="25" rows="10" required style="resize: none"></textarea>
        </label>
        <br>
        <br>
        <Label> Select Image File: </Label>
        <input type="file" name="image">
        <br>
        <br>
        <button type="submit" value="Upload">Submit Question</button>
    </form>


{% endblock %}