{% extends 'base.html' %}

{% block title %}Add tag{% endblock %}

{% block content %}
<div class="question-box2 add-tag">
    <h1>Add tags to question</h1>
        <form
            action="{{ url_for('add_tag_to_question', question_id=question_id) }}"
            method="post"
        >
            {% if not error %}
            <input
                    class="anyInputFocus"
                type="text"
                name="tag"
                placeholder="tag"
                autofocus
                list="tag-name"
                autocomplete="off"
            />
            {% else %}
            <input
                    class="anyInputFocus"
                type="text"
                name="tag"
                placeholder="tag"
                autofocus
                list="tag-name"
                autocomplete="off"
            />
            <p>Tag already added.</p>
            {% endif %}
            <datalist id="tag-name">
                {% for tag in tags %}
                    <option value="{{ tag.name }}">{{ tag.name }}</option>
                {% endfor %}
                
            </datalist>

            <br />
            <br />
            <button class="submit-buttons" type="submit">Submit</button>
        </form>
</div>
{% endblock %}
