{% extends 'base.html' %}

{% block title %}Add Answer{% endblock %}

{% block content %}

    <h1>Add Answer</h1>

        <form
            action="{{ url_for('add_answer', id=id) }}"
            method="post"
            enctype="multipart/form-data"
        >
            <textarea
                placeholder="Message"
                name="message"
                cols="30"
                rows="10"
                style="resize: none"
            ></textarea>

            <input type="file" name="image" />

            <buttontype="submit">Submit</button>
        </form>
{% endblock %}
