{% extends "base.html" %}

{% block title %}Answer Question {{ id }}{% endblock %}

{% block content %}
    <h1>{{ question_dict.title }}:</h1>

    <form action="{{ url_for('add_answer', id=id) }}" method="post" name="answer_message" enctype="multipart/form-data">
        <label for="message"></label>
        <textarea name="message" id="" cols="30" rows="10"></textarea>
        <br>
        <Label> Select Image File: </Label>
        <input type="file" name="image">
        <br>
        <br>
        <button type="submit">Submit</button>

    </form>
{% endblock %}