<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{% block title %}{% endblock %}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='ask-mate2.css') }}"
        />
    </head>
    <body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="{{ url_for('latest_questions') }}"
                        >Home</a
                    >

                <a href="{{ url_for('list_page') }}">List</a>

                    <a href="{{ url_for('add_question') }}">Ask</a>


</div>
            {% if session %}
                <a href="{{ url_for('get_user_page', user_id=session.user_id, username=session.logged_in) }}">{{ session.logged_in }}</a>
                <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                {% endif %}

    <div id="container">
        <div class="topbar">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </div>
        {% block content %} {% endblock %}
    </div>
    <script>
        /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("container").style.marginLeft = "250px";
        }

        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("container").style.marginLeft = "0";
        }
    </script>
    </body>
</html>
