<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{% block title %}{% endblock %}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='ask-mate2.css') }}"
        />
    </head>
    <body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a class="sidebarbtn" href="{{ url_for('latest_questions') }}"
                        >Home</a
                    >

                <a class="sidebarbtn" href="{{ url_for('list_page') }}">List</a>

                    <a class="sidebarbtn" href="{{ url_for('add_question') }}">Ask</a>


</div>

 <div id="topbar">
        <span id="open-sidebar" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

     {% if session %}
                <a id="login" href="{{ url_for('logout') }}">Logout</a>
         <a id="login" href="{{ url_for('get_user_page', user_id=session.user_id, username=session.logged_in) }}">{{ session.logged_in }}</a>


            {% else %}

                <a id="login" href="{{ url_for('login') }}">Login</a>

            {% endif %}
<div id="search-form">
                <form action="{{ url_for('search_bar') }}" method="get">
                    <input
                        type="search"
                        name="search_phrase"
                        id="search_phrase"
                        class="anyInputFocus"
                        placeholder="Search"
                        autocomplete="off"
                    />
                </form>
        </div>
    </div>
    <div id="container">

        {% block content %} {% endblock %}
    </div>
    <div id="footer">
        <p>Contact</p>
        <p>Help</p>
        <p>FAQ</p>

    </div>
    <script>
        /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("container").style.marginLeft = "250px";
          document.getElementById("topbar").style.marginLeft = "250px";
          document.getElementById("topbar").style.width = "86.2vw";
          document.getElementById("footer").style.marginLeft = '250px';
        }

        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("container").style.marginLeft = "0";
          document.getElementById("topbar").style.marginLeft = "0";
          document.getElementById("topbar").style.width = "99.2vw";
          document.getElementById('footer').style.marginLeft = "0";
        }
    </script>
    </body>
</html>
