{% extends "base.html" %}


{% block title %} Update question {% endblock %}

{% block content %}
    <div id="edit-question-header">
    <h1>Update your question</h1>
    </div>
    <br>
    <br>
    <div class="form-edit-question">
    <form id='form' action="{{ url_for("update_question", id = result.id) }}" method="post">
    <label>Title:
        <br><input type="text" name="title" required value ="{{ result.title }}">
    </label>
        <br>
        <br>

    <label>Message:
        <br>
        <textarea name="message" cols="25" rows="10" required style="resize: none">{{ result.message }}</textarea>
    </label>
    <br>
    <br>
    <button id="button-submit-question" type = "submit">Update</button>


    </form>
</div>
{% endblock %}
