{% extends "base.html" %}

{% block title %} Edit question {% endblock %}

{% block content %}
<div class="question-box2 add">
    <h1>Edit your question</h1>

    <form
        action="{{ url_for('update_question', id = question.id) }}"
        method="post"
    >
        <input
            type="text"
            name="title"
            required
            value="{{ question.title }}"
        />
        <br>
        <textarea
            name="message"
            cols="25"
            rows="10"
            required
            style="resize: none"
        >
{{ question.message }}</textarea
        >
        <br />
        <br />
        <button class="submit-buttons" type="submit">Edit</button>
    </form>
</div>
{% endblock %}
