{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

    <h1>Welcome to the Question List</h1>

{% if session.user_id %}
    <a href="{{ url_for('users_page') }}">List of all Users</a>
    {% endif %}
    <br>
    <a href="{{ url_for('tags_page') }}">Tags</a>
    <form action="{{ url_for('list_page')}}" method="get">
        <select name="sort" id="sort">
            <option value="" disabled selected>
                Sort By
            </option>
            <option value="submission_time">Time</option>
            <option value="view_number">
                View numbers
            </option>
            <option value="vote_number">
                Vote numbers
            </option>
            <option value="title">Title</option>
            <option value="message">Description</option>
        </select>

        <select name="direction" id="direction">
            <option value="" disabled selected>
                Choose Order
            </option>
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
        <button type="submit">Order</button>

    </form>
    <div class="navbar search-form">
                <form action="{{ url_for('search_bar') }}" method="get">
                    <input
                        type="search"
                        name="search_phrase"
                        id="search_phrase"
                        placeholder="Search"
                        autocomplete="off"
                    />
                </form>
        </div>
        {% for question in data %}
            <h3>
                <a href="{{ url_for('question', id=question['id']) }}"
                    >{{ question.title}}</a
                >
            </h3>
            <p>{{ question.message }}</p>
            <p>
                {% if question.image %}
                <img src="static/images/{{ question.image }}" alt="" />
                {% endif %}
            </p>
            <p>{{ question.submission_time }}</p>

            <a href="{{ url_for('vote_up', id=question.id) }}"
                >Up
            </a>

            <a href="{{ url_for('vote_down', id=question.id) }}"
                >Down
            </a>
            <p>
                views: {{ question.view_number }} | votes: {{
                question.vote_number }}
            </p>


        {% endfor %}
    {% endblock %}

