{% extends "base.html" %}

{% block title %}Question {{ id }}{% endblock %}

{% block content %}
    <h1>Question {{ id }}</h1>
    <a href="{{ url_for('list_page') }}">Home Page</a>
{#    <img src="https://image.shutterstock.com/image-photo/mountains-under-mist-morning-amazing-260nw-1725825019.jpg" alt="">#}

        <button type="button" formmethod="post"> <a href="{{ url_for('delete_question',id=id)}}">Delete question</a></button>
        <button type="button" formmethod="post"> <a href="{{ url_for('update_question', id = id) }}">Update question</a></button>
    <br>
    <h3>{{ question_dict.title }}</h3>
    <p>{{ question_dict.message }}</p>
    <p>votes: {{ question_dict.vote_number }}</p>
    <br>
    <br>
    <label for="">Answers:</label>
    {% for answer in answer_list %}
        <p>{{ answer.submission_time }}  |  {{ answer.message }}  | votes:  {{ answer.vote_number }} | <a href="{{ url_for('delete_answer', answer_id=answer.id) }}">Delete</a>
        </p>
        <img src="{{ url_for('static', filename='images/'+answer.image) }}" alt="" width="150px">
        <br>
        <a href="{{ url_for('answer_vote_up', answer_id=answer.id) }}"><button>Up Vote</button></a>
        <a href=""><button>Down Vote</button></a>
    {% endfor %}
    <br>
    <br>
    <a href="{{ url_for('add_answer', id=id) }}">
    <button type="button">Answer</button>
    </a>

{% endblock %}