{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
    <h1>Search</h1>
        {% for question in data %}

            <h3>
                <a href="{{ url_for('question', id=question['id']) }}"
                    >{{ question.title | replace (search_phrase, '<mark>' + search_phrase + '</mark>') | safe}}</a
                >
            </h3>
            <p>
                {{ question.message | replace (search_phrase, '<mark>' + search_phrase + '</mark>') | safe }}
            </p>
            <p>
                {% if question.image %}
                <img src="static/images/{{ question.image }}" alt="" />
                {% endif %}
            </p>
            <p>{{ question.submission_time }}</p>

            <a href="{{ url_for('vote_up', id=question.id) }}"
                >Up
            </a>

            <a href="{{ url_for('vote_down', id=question.id) }}"
                >Down
            </a>
            <p>
                views: {{ question.view_number }} | votes: {{
                question.vote_number }}
            </p>


        {% endfor %}

    {% endblock %} | replace (search_phrase, '<mark>' + search_phrase + '</mark>') | safe

