{% block title %} User Page{% endblock %}



{% block content %}


    {% for user in users_info %}

    <p><a href="{{ url_for('get_user_page', user_id=user.id, username=user.username) }}">{{ user.username }}</a></p> <p>{{ user.registration_time }}</p> <p>{{ user.reputation }}</p>
            {% for question in questions %}
    <p></p>
    {% endfor %}

    {% endfor %}


{#<table>#}
{#<thead>#}
{#<tr>#}
{#    <td>Username</td>#}
{#    <td>registration date</td>#}
{#    <td>reputation</td>#}
{#    <td>Number of Questions</td>#}
{#    <td>Number of Answers</td>#}
{#    <td>Number of Comments</td>#}
{#</tr>#}
{#</thead>#}
{#<tbody>#}
{#<tr>#}
{#    <td></td>#}
{#</tr>#}
{#</tbody>#}
{##}
{##}
{##}
{##}
{#</table>#}




 {% endblock %}