{% extends 'base.html' %}
{% block title %} User Page{% endblock %}



{% block content %}


    {% for user in users_info %}
        {% set count = 0 %}
    <p><a href="{{ url_for('get_user_page', user_id=user.id, username=user.username) }}">{{ user.username }}</a></p> <p>{{ user.registration_time }}</p> <p>Reputation: {{ user.reputation }}</p>
            {% for question in users_questions %}
                {% if question.user_id == user.id %}
                    {% if question.user_questions %}
                        <p>number of questions: {{ question.user_questions }}</p>
                        {% elif not question.user_questions %}
                        <p>number of questions: 0</p>
                        {% endif %}

                {% endif %}
                {% endfor %}
            {% for answer in users_answers %}
                {% if answer.user_id == user.id %}
                {% if answer.user_answers %}
                <p>number of answers: {{ answer.user_answers }}</p>
                {% elif not answer.user_answers %}
                <p>number of answers: 0</p>
                        {% endif %}
                {% endif %}
                {% endfor %}

            {% for comment in users_comments %}
                {% if comment.user_id == user.id %}
                {% if comment.user_comments %}
                <p>number of comments: {{ comment.user_comments }}</p>
                {% elif not comment.user_comments %}
                <p>number of comments: 0</p>
                        {% endif %}
                {% endif %}
                {% endfor %}


    {% endfor %}


{#<table>#}
{#<thead>#}
{#<tr>#}
{#    <td>Username</td>#}
{#    <td>registration date</td>#}
{#    <td>reputation</td>#}
{#    <td>Number of Questions</td>#}
{#    <td>Number of Answers</td>#}
{#    <td>Number of Comments</td>#}
{#</tr>#}
{#</thead>#}
{#<tbody>#}
{#<tr>#}
{#    <td></td>#}
{#</tr>#}
{#</tbody>#}
{##}
{##}
{##}
{##}
{#</table>#}




 {% endblock %}