{% block title %} User Page{% endblock %}


{% block content %}

{% if session %}
    <h1>{{ session.logged_in}}</h1>
<div>

<table class="table table hover">
    <thead>
        <tr>
            <td>ID</td>
            <td>Username</td>
            <td>Submission_time</td>
            <td>Number of Questions</td>
            <td>Number of Answers</td>
            <td>Number of Comments</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ id}}</td>
            <td>{{ username}}</td>
            <td>{{ submission_time}}</td>

            <td>{{ number_questions}}</td>
            <td>{{ number_answers }} </td>
            <td>{{ number_comments}}</td>
        </tr>

    </tbody>

</table>
</div>
{% endif %}
{% endblock %}