{% extends 'base.html' %}
{% block title %} User Page{% endblock %}


{% block content %}

{% if session %}

<div class="question-box2 user">
<table>
    <thead>
        <tr>
            <td>Username</td>
            <td>Registration Time</td>
            <td>Reputation</td>
            <td>Number of Questions</td>
            <td>Number of Answers</td>
            <td>Number of Comments</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ username }}</td>
            <td>{{ submission_time }}</td>
            <td>{{ reputation}}</td>
            <td>{{ number_questions }}</td>
            <td>{{ number_answers }} </td>
            <td>{{ number_comments }}</td>
        </tr>

    </tbody>

</table>
</div>
    {% if questions %}
    <div class="question-box2 comments">
    <h2>Questions</h2>
        {% for question in questions  %}
            <p><a href="{{ url_for('question', id=question['id']) }}"
                    >{{ question.title}}</a></p>

    {% endfor %}
    </div>
    {% endif %}
        {% if answers %}
    <div class="question-box2 comments">
    <h2>Answers</h2>
        {% for answer in answers  %}
            <p><a href="{{ url_for('question', id=answer['question_id']) }}"
                    >{{ answer.message}}</a></p>
    {% endfor %}
</div>
            {% endif %}
    {% if comments %}
    <div class="question-box2 comments">
    <h2>Comments</h2>

        {% for comment in comments  %}
            {% if comment['question_id']!= 0 %}
            <p><a href="{{ url_for('question', id=comment['question_id'] )}}"
                    >{{ comment.message}}</a></p>
            {% else  %}
            <p><a href="{{ url_for('question', id=comment['answer_id'] )}}"
                    >{{ comment.message}}</a></p>
                {{ super() }}
             {% endif %}
    {% endfor %}

    </div>
        {% endif %}

{% endif %}
{% endblock %}